//vars
$footer-height: 125px;
$container-width: 1100px;
$orange: #fca211;
$red: #b42226;
$blue: #2b2f5f;
$grey: #747474;
$black: #393939;
$brown: #883213;
$light_orange: #ab594a;


// layout
@import "_misc/normalize";


@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "plugins/font-awesome";
@import "plugins/sprites";


// styles
@import "sections/header";
@import "sections/slider";
@import "sections/reasons";
@import "sections/services";
@import "sections/team";
@import "sections/contacts";
@import "sections/faq";
@import "sections/footer";

//test




//media



