.our__team_contacts {
  margin-left: 10%;
}

.cf__wrapper {
  position: relative;
  max-width: rem(843px);
}

.cf__main {

  background: url("../img/decor/ct-bg.jpg");
  margin: 0 auto;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;

}

.contact__form_text {
  float: left;
  width: 50%;
  font-size: rem(64px);
  line-height: rem(80px);
  padding: rem(114px) rem(66px);
  color: #fff;
  @include malina(64px);

  @include laptop {
    font-size: 3rem;
  }

  @include tablet {
    float: none;
    width: 100%;
    padding: 0 rem(60px);
    background: rgba(0, 0, 0, .6);
    font-size: rem(30px);

  }
}

.contact__form {
  width: 50%;
  float: right;
  background: rgba(0, 0, 0, .6);
  padding: rem(62px) rem(48px);

  @include tablet {
    width: 100%;
    float: none;
    padding: rem(10px) rem(40px);
  }

  input {
    display: block;
    background: transparent;
    border: none;
    padding: rem(20px);
    padding-left: 0;
    margin-bottom: rem(21px);
    border-bottom: 1px solid #fff;
    font-size: rem(16px);
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
    }

  }

  label {
    color: #fff;
    font-weight: 400;
  }

  #callback-checkbox {
    display: inline-block;
  }
}

.cf__input-underline {
  width: 85%;

  @include tablet {
    width: 100%;
  }
}

.cf__submit-button {
  position: absolute;
  width: rem(96px);
  height: rem(96px);
  background: $orange;
  border-radius: 50%;
  padding: rem(19px) rem(17px) rem(19px) rem(19px);
  border: none;
  left: 100%;
  top: 100%;
  margin-left: rem(-48px);
  margin-top: rem(-48px);

  &:hover {
    background: #2a2e60;
  }
  &:focus {
    outline: none;
  }

  span {
    display: block;
    margin-left: rem(5px);
  }

}

.sprite-arrow {
  width: 50px;
  height: 51px;
  background-position: -5px -5px;

}
