.faq {
    background: url("../img/decor/faq-bg.jpg");

    background-size: cover;
    color: #fff;
    padding-top: rem(79px);
    padding-bottom: rem(105px);
    
    @include tablet {
        padding-top: rem(35px);
        padding-bottom: rem(35px);

    }


}

.faq__title{
    padding-bottom:rem(25px);
    font-size: rem(40px);

    @include tablet {
        font-size: rem(29px);
    }

}

.faq__list {
    font-size: rem(22px);
    padding-left:rem(60px);
    
    @include tablet {
        padding-left: 0;
    }
}

.faq__item {
    margin-bottom: rem(40px);
    list-style: decimal;

    &:hover {

        color: $orange;

        .faq__link {
            color: $orange;
            border-color: $orange;

        }
    }

    .faq__answer {
        max-height: 0;
        overflow: hidden;

    }

    &.active {

        color: $orange;

        .faq__link {

            color: $orange;
            border-bottom: transparent;
            text-decoration: none;
        }
        .faq__answer {
            color: #fff;
            max-height: 500px;

        }

    }
}

.faq__question {
    margin-bottom: rem(8px);

}

.faq__link {
    color: #fff;
    font-size: rem(22px);
    border-bottom: 3px dashed #fff;
    display: inline-block;
    padding-bottom: rem(10px);

    &:hover {
        color: $orange;
        text-decoration: none;
    }

    &:focus{
        outline: none;
        color: $orange;
        text-decoration: none;
    }
}



.faq__answer {
    padding-left: rem(45px);
    font-size: rem(15px);
    max-width: rem(805px);


}





