.our-services {
  background-image: url(../img/decor/orange-bg-pattern.png);
  color: $black;
  padding-top: rem(96px);
  padding-bottom: rem(88px);

  @include tablet {
    padding-top: rem(36px);
  }

}

.services__main {
  text-align: center;
  max-width: 73%;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
  }

}

.services__title {
  margin-bottom: rem(10px);

  @include tablet {
    font-size: rem(42px);

  }
}

.services__text {

  color: $brown;
  @include myriad(16px);

}

.services__list {
  margin-left: rem(-44px);
  @include desktop {
    margin: 0 auto;
    width: 85%;
  }

  @include tablet {
    width: 100%;
  }

}

.services__list_item {
  display: inline-block;
  vertical-align: top;
  max-width: rem(222px);
  text-align: center;
  margin-left: rem(44px);
  position: relative;
  margin-top: rem(259px);

  @include tablet {
    margin-left: rem(36px);
  }

  .title {
    font-size: rem(32px);
  }
}

.services__item_pic {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: rem(-100px);
}

.services__item_text {
  @include myriad(14px);
  color: $light_orange;
}



